#tags-container .badge {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
    background-color: #EBEBEB !important;
    color: #494949;
    border: 2px solid #D4D4D4;
    border-radius: 5px;
}

#tags-container .tag-delete {
    border: none;
    background: none;
    color: #494949 !important;
    font-weight: 600 !important;
    cursor: pointer;
    font-size: 0.85rem;
    line-height: 1;
    padding: 0 0.2rem;
    font-size: 1.3rem;
}

.tagslabel1 {
    margin-bottom: 0.2rem;
}

.tagslabel2 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: #826240;
}

#add-tag-btn {
    background: #FFE3C5;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    color: #582D00;
    min-width: 120px;
}

#add-tag-btn:hover {
    background-color: #ba7326;
    color: #FFFFFF;
}

.fa-tag {
    margin-right: 0.4rem;
}
