#tags-container .badge {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
    background-color: #EBEBEB !important;
    color: #494949;
    border: 2px solid #D4D4D4;
    border-radius: 5px;
}

#tags-container .tag-delete {
    border: none;
    background: none;
    color: #494949 !important;
    font-weight: 600 !important;
    cursor: pointer;
    font-size: 0.85rem;
    line-height: 1;
    padding: 0 0.2rem;
    font-size: 1.3rem;
}

.tagslabel1 {
    margin-bottom: 0.2rem;
}

.tagslabel2 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: #826240;
}

#add-tag-btn {
    background: #FFE3C5;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    color: #582D00;
    min-width: 120px;
}

#add-tag-btn:hover {
    background-color: #ba7326;
    color: #FFFFFF;
}

.fa-tag {
    margin-right: 0.4rem;
}

/* Overlay */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay.hidden {
    display: none;
}

.overlay-box {
    background: #fff;
    padding: 2rem 2.5rem;
    border-radius: 14px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    min-width: 260px;
}


/* Spinner */
.spinner {
    width: 46px;
    height: 46px;
    border: 5px solid #eee;
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Success icon */
.fa-circle-check {
    color: #1AC54A;
}

#success-ok-btn {
    min-width: 100px;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

.cancel-btn {
    border: none;
    background-color: #D1D1D1;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
}

.successbtn {
    border: none;
    background-color: #FFB587;
    color: #582D00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
}

.successbtn:hover {
    background-color: #fa7e3b;
    color: #FFFFFF;
}

.okbtn {
    border: none;
    background-color: #1AC54A;
    color: #FDF6F0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.cardsec {
    width: 60%;
    border-radius: 10px;
}

.cardhead {
    color: #000000;
    font-size: 1.2rem;
}

.carddesc {
    color: #4D4D4D;
    font-size: 1rem;
}