/* Buttons */
.btn-danger {
    background: #F60D0D;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.158);
}

.activity-btn {
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
}

.activity-btn:hover {
    background: #d40b0b;
}

/* Activity Card */
.activity-card {
    background: #ffe8d6;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s, box-shadow 0.2s;
}

.activity-card p {
    margin-bottom: 0.25rem;
}

.spacing {
    margin-bottom: 0.4rem;
}

.card-spacing {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

/* Badges */
.badge {
    font-size: 0.8rem;
    padding: 0.2rem 0.55rem 0.25rem 0.2rem;
    border-radius: 8px;
    font-weight: 600;
}

/* Categories */
.badge-creativearts {
    background: #F3E892;
    border: 2px solid #E8D72D;
    color: #956400;
}

.badge-social {
    background: #F8C2D6;
    border: 2px solid #F284B8;
    color: #AC2E5F;
}

.badge-learning {
    background: #EE94E7;
    border: 2px solid #DC1EDC;
    color: #BA118D;
}

.badge-physical {
    background: #A4DDE2;
    border: 2px solid #38BED1;
    color: #0D8AC0;
}

.badge-nature {
    background: #A4E6AA;
    border: 2px solid #38D255;
    color: #267D13;
}

.badge-technology {
    background: #BCB8B4;
    border: 2px solid #6E6D6C;
    color: #000;
}

/* Energy Levels */
.energy-low {
    background: #C9F4BE;
    border: 2px solid #8AF183;
    color: #35AC2E;
}

.energy-medium {
    background: #FDD4B9;
    border: 2px solid #FDA066;
    color: #DC5C0D;
}

.energy-high {
    background: #FDBDB9;
    border: 2px solid #FD6666;
    color: #D12626;
}

/* Activity Tags */
.activity-tags span {
    background: #EBDFD2;
    border: 2px solid #D4D2CF;
    padding: 0.15rem 0.5rem 0.2rem;
    font-size: 0.8rem;
    color: #494949;
    margin: 0 0.3rem 0.2rem 0;
    font-weight: 600;
    border-radius: 5px;
}

.activity-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

/* Participants Badge */
.participants {
    background: #C7CDE0;
    border: 2px solid #85A9ED;
    color: #2E30AC;
}

/* Icons */
.fa-trash-can {
    color: #F60D0D;
    font-size: 1.2rem;
}

.fa-trash-can:hover {
    color: #a00000;
}

.fa-pen-to-square {
    color: #7d4304;
    font-size: 1.2rem;
}

.fa-pen-to-square:hover {
    color: #361d02;
}

/* Card Actions Buttons */
.card-actions .btn {
    margin-top: 0.5rem;
    background: none;
    border: none;
    padding: 0.3rem;
}

.delete {
    margin-right: 0.5rem;
}

.text {
    margin-left: 0.3rem;
}