.section-box {
    width: 100%;
    min-height: 100px;      
    color: #582D00;        
    background-color: #FDF6F0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.256);
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2rem auto;
    border-radius: 15px;
}

h1{
    font-size: 2rem;
}

body {
    color: #582D00;
}