.section-box {
    width: 100%;
    min-height: 100px;      
    color: #582D00;        
    background-color: #FDF6F0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.256);
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2rem auto;
    border-radius: 15px;
}

h1{
    font-size: 2rem;
}

body {
    color: #582D00;
}

.fa-arrow-left {
    color: #582D00;
    font-weight: semibold;
    font-size: 1.5rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px #d8b175 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.25) !important;
}

.cancelbtn {
    background-color: #D1D1D1;
    color: #582D00;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.cancelbtn:hover {
    background-color: #686868;
    color: #FFFFFF;
}

.dobtn {
    background-color: #FFB587;
    color: #582D00;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.dobtn:hover {
    background-color: #965d20;
    color: #FFFFFF;
}

.form-control,
.form-select {
    background-color: #FDFAF7;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}


/* Placeholder styling */
.form-control::placeholder,
.form-select::placeholder,
.form-select option[value=""],
.form-control.is-placeholder[type="date"],
.form-control.is-placeholder[type="time"],
.form-select:has(option[value=""]:checked) {
    font-style: italic;
    color: #AA937B;
}

.form-select option:not([value=""]),
.form-select:has(option:not([value=""]):checked) {
    font-style: normal;
    color: #582D00;
}

.form-control[type="date"],
.form-control[type="time"] {
    color: #582D00;
    font-style: normal;
}

.form-label,
.formL {
    color: #582D00 !important;
}