.yellow-box {
    background-color: #FFEBD6;
    max-width: 100%;
    height: auto;
    padding: 1rem 2rem;
    border-radius: 15px;
}

.white-box{
    background-color: white;
    max-width: 100%;
    height: auto;
    padding: 1.5rem 1rem;
    border-radius: 15px;
}