.contact-box{
    display: flexbox;
    width: 100%;
    min-height: 150px;      
    color: black;        
    background-color: #FFEBD6;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);       
    padding: 20px;                  
    margin: 20px auto;       
}