.contact-box {
  width: 100%;
  min-height: 150px;
  color: black;
  background-color: #FFEBD6;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  /* make it a flex container */
  flex-direction: column;
  /* stack text elements */
  justify-content: center;
  /* vertical center */
  align-items: flex-start;
  /* keep text left-aligned */
}

.circle-image {
  width: 150px;
  /* set width */
  height: 150px;
  /* set height (same as width for perfect circle) */
  border-radius: 50%;
  /* makes it circular */
  object-fit: cover;
  margin-right: 70px;
}

.more-actions-toggle {
  width: 220px;
  padding: 10px 16px;
  border-radius: 25px;
  background-color: #c6c6c6;
  border: 1px solid black;
  font-weight: bold;
  position: relative;
}

.chevron-icon {
  transition: transform 0.2s ease;
}

.chevron-icon.rotate-up {
  transform: rotate(180deg);
}

.more-actions-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  background-color: #D9D9D9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 220px;
  border: 1px solid black
}

.menu-item {
  text-align: left;
  border: none;
  background-color: #D9D9D9;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e0e0e0;
}

.filter-option {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

#filters-container .filter-option.active {
  background-color: #c4c4c4 !important;
  color: #000000 !important;
}