.navbar, .dropdown-menu {
    background: linear-gradient(90deg, #FFDCB7, #ffbba5);
}

.navbar .nav-link,
.dropdown-item {
    font-size: 1.2rem;
    color: #ad5b02;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link.active,
.nav-link:hover,
.dropdown-item:hover {
    color: #582D00 !important;
}

.navbar-toggler{
    transition: transform 0.3s ease;
}

.dropdown-item:hover {
    background-color: transparent !important;
}

.dropdown-menu, .navbar-toggler {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}