.stat-box {
    background-color: #ffd6a8;
    padding: 1.5rem;
    border-radius: 20px;
    width: 20rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-box p {
    font-size: 1.5rem;
}

.stat-box h2 {
    font-size: 2rem;
}

.sectionbox3 {
    background-color: #FDF6F0;
    border-radius: 20px;
}

.sectionbox4 {
    width: 95%;
}

.activity-day {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.1rem 0.7rem;
    border-radius: 3px;
    color: #fff;
}

.badge-day-tomorrow {
    background-color: #D70909;
    color: #fff;
}

.badge-day-soon {
    background-color: #582D00;
    color: #fff;
}