{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}">
{% endblock %}

{% block content %}

<div class="section-box d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
    <div>
        <h1>My Activities</h1>
        <p>
            You are currently managing {{ num_activities }}
            {% if num_activities == 1 %}activity{% else %}activities{% endif %}.
        </p>
    </div>
    <a href="{{ url_for('activity_create') }}"
        class="btn btn-danger activity-btn mt-2 mt-md-0 me-0 me-md-2 fw-semibold">
        <i class="fa-solid fa-plus" aria-hidden="true"></i> Create Activity
    </a>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="mt-3 mx-3">
    {% for category, message in messages %}
    <div class="alert alert-{{ 'success' if category=='success' else 'danger' }} alert-dismissible fade show"
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<div class="row">
    {% for activity in activities %}
    <div class="col-12 card-spacing">
        <div class="activity-card position-relative">
            <div class="card-actions position-absolute top-0 end-0 d-flex gap-0">
                <a href="{{ url_for('edit_activity', activity_id=activity.id) }}" class="btn edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <form method="post" action="{{ url_for('activity_delete', activity_id=activity.id) }}" class="d-inline">
                    <button type="submit" class="btn delete"
                        onclick="return confirm('Are you sure you want to delete this activity?');">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </div>

            <div class="text">
                <div class="d-flex align-items-center gap-2 spacing">
                    <h5 class="mb-0">{{ activity.name }}</h5>
                    {% if activity.type == 'Creative Arts' %}
                    <span class="badge badge-creativearts">🎨Creative Arts</span>
                    {% elif activity.type == 'Social' %}
                    <span class="badge badge-social">🎲Social</span>
                    {% elif activity.type == 'Learning' %}
                    <span class="badge badge-learning">📖Learning</span>
                    {% elif activity.type == 'Physical' %}
                    <span class="badge badge-physical">🏃Physical</span>
                    {% elif activity.type == 'Nature' %}
                    <span class="badge badge-nature">🌲Nature</span>
                    {% elif activity.type == 'Technology' %}
                    <span class="badge badge-technology">💻Technology</span>
                    {% endif %}
                </div>

                <p>{{ activity.description }}</p>

                <div class="d-flex flex-wrap gap-2 fw-semibold spacing">
                    <span>
                        📅 {{ activity.display_date }}, {{ activity.display_time }}
                    </span>

                    <span>⏱
                        {% set h = activity.duration_hours %}
                        {% set m = activity.duration_minutes %}
                        {% if h and m %}
                        {{ h }} hour{% if h > 1 %}s{% endif %} {{ m }} minute{% if m > 1 %}s{% endif %}
                        {% elif h %}
                        {{ h }} hour{% if h > 1 %}s{% endif %}
                        {% elif m %}
                        {{ m }} minute{% if m > 1 %}s{% endif %}
                        {% else %}
                        0 minutes
                        {% endif %}
                    </span>

                    <div class="col-12">
                        {% if activity.format_type|lower == 'online' %}
                        🖥️ Online
                        {% else %}
                        📍 {{ activity.location }}
                        {% endif %}

                    </div>


                </div>

                <div class="d-flex flex-wrap gap-2 spacing">
                    <span class="badge 
                    {% if activity.energy == 'Low' %}energy-low
                    {% elif activity.energy == 'Medium' %}energy-medium
                    {% elif activity.energy == 'High' %}energy-high
                    {% endif %}">
                        ⚡{{ activity.energy }} energy
                    </span>
                    <span class="badge participants">🫂{{ activity.participants }}/{{ activity.max_participants }}
                        participants</span>
                </div>

                <div class="activity-tags spacing">
                    {% for tag in activity.tags %}
                    <span>#{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}