{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
{% endblock %}

{% block content %}

<div class="section-box">
    <h1>My Chats</h1>
    <p>Spark a dialogue and strengthen the bond.</p>
</div>

<div class="contact-box p-4 d-flex justify-content-start" onclick="window.location.href='{{ url_for('textchat') }}'">
    <div class="d-flex align-items-center">
        <img src="{{ url_for('static', filename='images/grandma_michelle_pfp.png') }}"alt="Profile Image" class="circle-image">
        <div>
            <h1 class="mb-1 me-5">Grandma Michelle</h1>
            <p class="mb-0">Last chatted with 10 mins ago</p>
        </div> 
    </div>
</div>

{% endblock %}
