<!-- Navbar -->
<nav class="navbar navbar-expand-md sticky-top shadow">
    <div class="container-fluid align-items-center">
        <a class="navbar-brand ms-3" href="{{ url_for('home') }}"><img
                src="{{ url_for('static', filename='images/navbar.png') }}" alt="ShareJoy" height="50"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link me-3 fw-bold {% if request.endpoint == 'home' %}active{% endif %}"
                        href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3 fw-bold {% if request.endpoint == 'groups' %}active{% endif %}"
                        href="{{ url_for('groups') }}">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3 fw-bold {% if request.endpoint == 'messages' %}active{% endif %}"
                        href="{{ url_for('messages') }}">Messages</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link me-3 dropdown-toggle fw-bold {% if request.endpoint in ['activities', 'explore', 'schedule'] %}active{% endif %}"
                        href="#" id="activitiesDropdown" role="button" data-bs-toggle="dropdown">
                        Activities
                    </a>

                    <ul class="dropdown-menu p-1.5" aria-labelledby="activitiesDropdown">
                        <li>
                            <a class="dropdown-item fw-bold {% if request.endpoint == 'activities' %}active{% endif %}"
                                href="{{ url_for('activities') }}">
                                My Activities
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-bold {% if request.endpoint == 'explore' %}active{% endif %}"
                                href="{{ url_for('explore') }}">
                                Explore
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-bold {% if request.endpoint == 'schedule' %}active{% endif %}"
                                href="{{ url_for('schedule') }}">
                                My Schedule
                            </a>
                        </li>
                    </ul>

                </li>

                <li class="nav-item">
                    <a class="nav-link me-3 fw-bold {% if request.endpoint == 'profile' %}active{% endif %}"
                        href="{{ url_for('profile') }}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>